.home__screen {
  height: 100vh;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  gap: 10px;

  @include md {
    flex-direction: row;
  }
}

.formhome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.form__title {
  width: 100%;
  h2 {
    margin-bottom: 20px;
    text-align: left;
  }
}

.formhome__form {
  width: 300px;
}

.form__input {
  height: 36px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d5e8;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

.form__group {
  margin-bottom: 13px;
  display: flex;
}

.form__select {
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  border: 1px solid #d4d5e8;
  border-radius: 4px;
  width: 40%;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  option {
    color: black;
    font-weight: bold;
  }
}

.form__acepto {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 15px;
  color: gray;
  font-size: 13px;

  &:checked &:disabled {
    background-color: green;
  }

  input {
    top: 0;
    width: 33px;
    height: 19px;
    background: #fff;
    border: 1px solid #d4d5e8;
    border-radius: 4px;
  }

  span {
    text-decoration: underline;
    font-weight: bold;
  }
}

.header {
  @include md {
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
  }

  position: absolute;
  width: 92px;
  height: 16px;
  left: 32px;
  top: 20px;

  img {
    @include md {
      position: absolute;
      width: 99px;
      height: 16px;
      left: calc(50% - 99px / 2 - 510.5px);
      top: calc(50% - 16px / 2);
    }

    height: 16px;
    width: 92px;
    left: 32px;
    top: 20px;
    border-radius: 0px;
  }
}

.header__text {
  position: absolute;
  width: 131px;
  right: 249px;
  top: 34.38%;
  bottom: 34.38%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;

  color: #676f8f;

  @include md {
    display: block;
  }
  display: none;
}

.header__group__celular {
  @include md {
    position: absolute;
    width: 109px;
    height: 24px;
    left: 1131px;
    top: 20px;
  }

  position: absolute;
  width: 90px;
  height: 24px;
  left: 238px;
  top: 16px;

  color: #6f7dff;
}

.header__number {
  @include md {
    position: absolute;
    width: 105px;
    right: 98px;
    top: 0px;
    bottom: 31.25%;
    display: block;
  }

  display: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  text-align: right;
}

.header__number__md {
  display: block;

  @include md {
    display: none;
  }
}

.banner__content {
  margin-top: 220px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  @include md {
    display: none;
  }
  p {
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 23px;
    span {
      color: #676f8b;
    }
  }
  h2 {
    span {
      color: $primary;
    }
  }
}
.banner__texto {
  width: 100%;
  padding: 20px;
}
.banner__img {
  width: 160px;
}
