//Colors
$primary: #ef3341;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
